<div class="row banner-slide remove-margin-rl">
	<div class="col-lg-12 remove-padding-rl">
		<div class="content">
			<app-banner></app-banner>
			<div class="content-desc">
				<div class="text">
					<p class="text-small">Aprende con los mejores cursos en español</p>
					<p class="text-big">Concept Art e Ilustración<br>de Environment</p>
				</div>
				<div class="btns">
					<a (click)="verCursos()" class="btn btn-purple">Ver Curso</a>
					<a href="#" class="btn btn-transp" role="button">Ver planes</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div id="galeria" class="row galeria">
	<div class="col-lg-10">
			<div class="content">
					<div class="row">
							<div class="col-lg-6">
									<p class="tituloPrincipal">
											Haz parte de nuestra <br> membresía y aprende con los mejores cursos en español.
									</p>
									<a (click)="verCursos()" class="btn btn-secondary btn-lg bottonPrincipal" >Ver Cursos</a>
									<a href="#" class="btn btn-secondary btn-lg bottonPrincipal" role="button">Ver planes</a>
							</div>
					</div>
			</div>
	</div>
</div>
-->
<div class="row seccionCursosHome seccionClara paddingSecciones">
	<div class="col-lg-10 centerElement remove-padding-rl">
		<app-seccion-cursos2col [cursos]="courses"></app-seccion-cursos2col>
	</div>
</div>

<div class="row seccionCursosHome seccionOscura">
	<div class="col-lg-10 centerElement">
			<app-seccion-cursos class="content" [name]="'zbrush'"></app-seccion-cursos>
			<app-seccion-cursos class="content" [name]="'free'"></app-seccion-cursos>
			<br><br>
		</div>
</div>

<div class="row seccionCursosHome coming-soon seccionClara">
	<div class="col-lg-10 centerElement">
		<app-seccion-cursos [name]="'comingsoon'"></app-seccion-cursos>
	</div>
</div>

<div id="galeria" class="row galeria2 courses-live">
	<div class="col-lg-10 centerElement">
			<div class="content">
        <p class="text-small">
          Próximo  Curso en vivo
        </p>
        <p class="text-big">
          Concept Art e Ilustración<br>de Environment
        </p>
        <div class="btns">
          <a (click)="verCursos()" class="btn btn-purple">Ver Curso</a>
          <a href="#" class="btn btn-transp" role="button">Ver planes</a>
        </div>
			</div>
	</div>
</div>
