<div class="row seccionCursosHome seccionClara paddingSecciones ">
  <div class="col-lg-1"></div>
  <div class="col-lg-2 margenTopSecciones">
      <div>
          <app-filtro-curso [opciones]="categorias" nombre="Categoria" (opcionSeleccionado)="verCategoria($event)"></app-filtro-curso>
          <br>
          <app-filtro-curso [opciones]="softwares" nombre="Software" (opcionSeleccionado)="verSoftware($event)"></app-filtro-curso>
          <br>
          <app-filtro-curso [opciones]="level" nombre="Nivel" (opcionSeleccionado)="verNivel($event)"></app-filtro-curso>
          <br>
          <app-filtro-curso [opciones]="tipos" nombre="Tipo" (opcionSeleccionado)="verTipo($event)"></app-filtro-curso>
          <!--<app-filtro-curso></app-filtro-curso>-->
      </div>
  </div>
  <div class="col-lg-8 margenTopSecciones">
    <div class="cadradoBanner">
            <div id="galeria" class="row ">
                <div class="col-lg-10">
                    <div class="content">
                        <div class="row  ">
                            <div class="col-lg-6 paddinCursoDelMes">
                                <p class="tituloCursoDelMes">
                                    Curso destacado del mes.
                                </p>
                                <a href="#" class="btn btn-secondary btn-lg bottonPrincipal" role="button">Ver curso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <app-seccion-cursosall [cursos]="cursos" class="content"></app-seccion-cursosall>
    <app-paginador class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"></app-paginador>
  </div>

</div>
