<div class="row content-media">
  <div class="title-course col-lg-12 remove-padding-rl">
    <h3>Nombre del curso</h3>
  </div>
  <div class="content-video col-lg-9 remove-padding-rl">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="media"
           #media id="singleVideo"
           preload="auto"
           [src]="currentItem.src"
           crossorigin>
            <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">

            <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
            <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es"> -->
        </video>
    </vg-player>
    <div class="footer-elements">
      <div class="download">download</div>
      <div class="foro">foro</div>
    </div>
  </div>
  <div class="content-playlist col-lg-3">
    <ul class="playlist-course">
      <li *ngFor="let item of playlist; let $index = index"
        (click)="onClickPlaylistItem(item, $index)"
        [class.selected]="item === currentItem" class="item-list">
        <div>
          <span class="title">{{ item.title }}</span><br>
          <span class="time">2:00</span>
        </div>
      </li>
    </ul>
  </div>
</div>

