<header class="cabecera">
  <div class="row content">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
          <nav class="navbar navbar-expand-lg  ">
      <a class="navbar-brand" [routerLink]="['home']">Libel Studios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['cursos']">Cursos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['planes']">Planes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['cursoslive']">Cursos en vivo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['blog']">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['webinar']">Webinars</a>
              </li>
          </ul>
          <form class="form-inline search my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
          </form>
          <ul class="navbar-nav log-reg" *ngIf="!usuarioLogiado">
              <li class="nav-item login">
                  <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">Entrar</a>
              </li>
              <li class="nav-item reg">
                  <a class="nav-link" (click)="verRegistro()">Registrarse</a>
              </li>
          </ul>
      </div>
      </nav>
      </div>
  </div>

</header>
