.header {
    .content {
        .var-n {
            float: none;
            margin: 0 auto;
            padding: 0px;
        }
        .menu {
            ul {
                li {
                    a {
                        font-family: 'Montserrat-Regular', sans-serif;
                    }
                }
            }
        }
        .search {
            input {
                background-color: transparent;
                border-radius: 1.25rem;
                height: calc(1.5rem + 2px);
                color: #818181 !important;
                border: 1px solid #818181;
            }
        }
        .log-reg {
            .login {}
            .reg {
                a {
                    font-family: 'Montserrat-Bold', sans-serif;
                    background-color: #8738C1;
                    color: #fff !important;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    margin-top: 8px;
                    border-radius: 5px;
                }
            }
        }
    }
}
