<div class="content-courses">
  <div class="row title">
    <div class="col-lg-2 name" *ngIf="title != 'comingsoon'">
      <h3>Cursos <strong> {{title}} </strong></h3>
    </div>
    <div class="col-lg-10 boder-line" *ngIf="title != 'comingsoon'">
      <hr>
    </div>
    <h3 *ngIf="title == 'comingsoon'">Próximamente</h3>
  </div>
  <div class="row card-courses justify-content-md-center">
    <div class="col-lg-12">
      <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [animation]="'slide'">
        <mdb-carousel-item *ngFor="let course of courses">
          <div class="row">
            <div class="col-lg-3 content-card" *ngFor="let item of course.items">
              <div class="img-container">
                <img src="{{item.url}}" alt="zbrush-para-impresion-libel-studios">
                <div class="sub-title">
                  <p class="text-small">{{item.type}}</p>
                  <p class="text-big">{{item.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <!-- <app-cuadrado-mediano *ngFor="let curso of cursos;" [curso]="curso" class="col-lg-3 PaddingCuadrado"></app-cuadrado-mediano> -->
  </div>
</div>
