<footer>
  <div  class="row ">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
          <div class="content">
              <div class="row title-footer">
                  <div class="col-lg-3 logo">
                    <img src="../../../../assets/images/logo-libel-studios.png" alt="logo-libel-studios">
                  </div>
                  <div class="col-lg-1 offset-lg-6 item"><i class="fab fa-facebook-f"></i>  Facebook</div>
                  <div class="col-lg-1 item"><i class="fab fa-youtube"></i>  YouTube</div>
                  <div class="col-lg-1 item"><i class="fab fa-linkedin-in"></i>  LinkedIn</div>
              </div>
              <div class="row conent-items-footer">
                  <div class="col">
                      <h4>Título de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Título de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Título de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Título de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-3 colDatos">
                      <h4>Título de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

</footer>
<div class="copyright-libel">
  2018 © Libel Studios
</div>
