<footer>
  <div  class="row ">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
          <div class="content">
              <div class="row tituloFooter">
                  <div class="col-lg-3">Libel Studios</div>
                  <div class="col-lg-1 offset-lg-6">Facebook</div>
                  <div class="col-lg-1">YouTube</div>
                  <div class="col-lg-1">LinkedIn</div>
              </div>                        
              <div class="row">
                  <div class="col">
                      <h4>Titulo de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Titulo de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Titulo de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>Titulo de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-3 colDatos">
                      <h4>Titulo de Píe</h4>
                      <ul>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                          <li>
                              <a href="">Enlace de referencia</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</footer>
<div class="copyrightLibel">
  2018© Libel Studios                
</div>